@media all and (min-width: 992px) {
    .openaccount {
        margin-left: 600px;
        background-color: #EFF1FF;
        transition: 1s ease-in-out;
        border: 1px solid #40196D;
        color: #40196D;
    }

    .openaccount:hover {
        transform: translateY(-3px);
    }
}

#browserAddress {
    background-color: #EFF1FF;
    color: #40196D;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
}